.menu {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:5px;
    position:relative;
    overflow:hidden;
}

.menu::before {
    content:"";
    position:absolute;
    inset:0;
    background-image:
    linear-gradient(rgba(255,0,0,.08) 1px,transparent 1px),
    linear-gradient(90deg,rgba(255,0,0,.08) 1px,transparent 1px);
    background-size:40px 40px;
    mask-image:linear-gradient(to bottom,transparent,black);
    pointer-events:none;
}

.title {
    display:flex;
    gap:5px;
    margin-bottom:50px;
    z-index:1;
}

.letter-block {
    width:clamp(40px,5vw,60px);
    height:clamp(40px,5vw,60px);
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:var(--font-pixel);
    font-size:clamp(15px,2vw,25px);
    color:white;
    background:transparent;
    border:2px solid #ff3030;
    box-shadow:none;
    transform:translateY(-700px);
    animation:blockFall 1.8s linear forwards;
}

.title .letter-block:nth-child(1){
    animation-delay:.05s;
}

.title .letter-block:nth-child(2){
    animation-delay:.6s;
}

.title .letter-block:nth-child(3){
    animation-delay:1.15s;
}

.title .letter-block:nth-child(4){
    animation-delay:1.7s;
}

.title .letter-block:nth-child(5){
    animation-delay:2.25s;
}

.title .letter-block:nth-child(6){
    animation-delay:2.8s;
}

.title .letter-block:nth-child(7){
    animation-delay:3.35s;
}

.title .letter-block:nth-child(8){
    animation-delay:3.9s;
}

.title .letter-block:nth-child(9){
    animation-delay:4.45s;
}

@keyframes blockFall {
    from {
        transform:translateY(-700px);
    }

    to {
        transform:translateY(0);
    }
}

.title.complete .letter-block {
    animation-name:blockFall,lightUp;
    animation-duration:1.8s,.4s;
    animation-timing-function:linear,ease;
    animation-fill-mode:forwards;
}

.title.complete .letter-block:nth-child(1){
    animation-delay:.05s,0s;
}

.title.complete .letter-block:nth-child(2){
    animation-delay:.6s,.15s;
}

.title.complete .letter-block:nth-child(3){
    animation-delay:1.15s,.30s;
}

.title.complete .letter-block:nth-child(4){
    animation-delay:1.7s,.45s;
}

.title.complete .letter-block:nth-child(5){
    animation-delay:2.25s,.60s;
}

.title.complete .letter-block:nth-child(6){
    animation-delay:2.8s,.75s;
}

.title.complete .letter-block:nth-child(7){
    animation-delay:3.35s,.90s;
}

.title.complete .letter-block:nth-child(8){
    animation-delay:3.9s,1.05s;
}

.title.complete .letter-block:nth-child(9){
    animation-delay:4.45s,1.20s;
}


@keyframes lightUp {
    0% {
        background:transparent;
    }
    50% {
        background:#ff3030;
    }
    100% {
        background:linear-gradient(145deg,#ff3030,#7a0000);
    }
}

.menu_button {
    width:clamp(200px,40vw,300px);
    padding:15px;
    font-family:var(--font-pixel);
    font-size:clamp(16px,2vw,22px);
    color:white;
    cursor:pointer;
    background:rgba(255,0,0,.15);
    border:2px solid var(--primary-color);
    box-shadow:0 0 10px red;
    transition:.3s;
    z-index:1;
}

.menu_button:hover {
    transform:scale(1.08);
    background:rgba(255,0,0,.35);
    box-shadow:
    0 0 20px red,
    0 0 40px red;
}

.languages {
    display:flex;
    gap:20px;
    margin-top:40px;
    z-index:1;
}

.languages img {
    width:clamp(35px,5vw,55px);
    height:clamp(35px,5vw,55px);
    cursor:pointer;
    transition:.3s;
    filter:grayscale(100%);
}

.languages img.active {
    filter:none;
}

.languages img:hover {
    filter:none;
    transform:scale(1.15);

}